/.UseCaseDescriptionLabelProvider.xtendbin
/.UseCaseLabelProvider.xtendbin
/.UseCaseOutlineTreeProvider.xtendbin
/.UseCaseProposalProvider.xtendbin
/.UseCaseQuickfixProvider.xtendbin
/.UseCaseUiModule.xtendbin
