<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gorgeousfood -->
      <package
            uri="http://www.example.org/gorgeousfood"
            class="edom.gorgeousfood.GorgeousfoodPackage"
            genModel="model/gorgeousfood.genmodel"/>
   </extension>

</plugin>
